    </ion-content>
      <ion-tab-bar id="iontabbar" slot="bottom" selected-tab="{{.}}" href="/onetimepin" onclick="window.location.href='/onetimepin';">
        <ion-tab-button tab="OneTimePin" href="/onetimepin" onclick="window.location.href='/onetimepin';">
          <ion-icon name="keypad-outline"></ion-icon>
          One Time Pin
        </ion-tab-button>
        <ion-tab-button tab="SeriesPin" href="/seriespin" target="_self" onclick="window.location.href='/seriespin';">
          <ion-icon name="refresh-outline"></ion-icon>
          Serien Pin
        </ion-tab-button>
        <ion-tab-button tab="PersonalPin" href="/personalpin" onclick="window.location.href='/personalpin';">
          <ion-icon name="person-circle-outline"></ion-icon>
          Persönlicher Pin
        </ion-tab-button>
      </ion-tab-bar>
    </ion-app>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/init.js"></script>
<style>

</style>


</body>
</html>