[Unit]
Description=ChronoKeyAccess Web Service
After=network.target

[Service]
User=chronokeyaccess
Group=chronokeyaccess
WorkingDirectory=/etc/chronokeyaccess
ExecStart=/usr/bin/chronokeyaccess_web
Restart=on-failure

[Install]
WantedBy=multi-user.target
