[Unit]
Description=ChronoKeyAccess Wiegand Reader
After=network.target

[Service]
User=chronokeyaccess
Group=chronokeyaccess
WorkingDirectory=/etc/chronokeyaccess
ExecStart=/usr/bin/chronokeyaccess_wgreader -exec /etc/chronokeyaccess/checkandopen.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
