<ion-card>
<ion-grid class="ion-text-justify">
<input type="hidden" id="WhatsappPrefix" value="*Zugangscodes Kalthalle Ringingen*">
<input type="hidden" id="WhatsappPostfix" value="⚽ Viel Spaß wünscht der SV Ringingen ⚽">

<ion-row>
    <ion-button size="small" onclick="setTimeRange('');">alle</ion-button>
{{range $key, $val := .entranceTimes}}    
    <ion-button size="small" onclick="setTimeRange('{{$key}}');");>{{$val}}</ion-button>
{{end}}
</ion-row>
{{range $val := .entranceCodes}}     
     <ion-row>
        <ion-col><ion-label>{{$val.Start.Format "02.01.2006"}} <b>{{$val.Start.Format "15:04"}}</b> {{$val.Stop.Format "15:04"}}</ion-label></ion-col>
        <ion-col><ion-chip>{{$val.PinCode | formatAsPin}}</ion-chip></ion-col>
        <ion-col><ion-note><i>{{$val.Slot.Name}}</i></ion-note></ion-col>
        <input type="hidden" class="copyContentWhatsapp" value="* {{$val.Start.Format "02.01.2006"}} {{$val.Start.Format "15:04"}}-{{$val.Stop.Format "15:04"}} PIN:{{$val.PinCode | formatAsUTF8Pin}}">
        <input type="hidden" class="copyContentEmail" value="{{$val.Start.Format "02.01.2006"}} {{$val.Start.Format "15:04"}}-{{$val.Stop.Format "15:04"}} PIN:{{$val.PinCode | formatAsPin}}">
    </ion-row>
{{end}}

</ion-grid>
</ion-card>


